@import "compass/css3/background-size";
@import "compass/css3/images"; // for 'background'

$social-tags: 'Max Planck Institute Magdeburg';
$brand-small-icon-size: 30px;

$mpi-darkgreen: #618a8e;
$mpi-darkgreen-secondary2: #015cc8;
$mpi-blue: #33a5c4;
$mpi-bluefont: #17a1c1;
$mpi-green: #007675;
$mpi-red: #78004B;
$mpi-sand: #ece9d4;
$mpi-font: #383c3c;

blockquote {
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: smaller;
    font-style: italic;
}

.screenshot {
    margin-top: 0.5em;
    text-align: center;
}

.blackhover {
    //padding-left: 1em;
    //background: rgba(0, 0, 0, 0.55);
    text-shadow: 0px 0px 9px rgba(0, 0, 0, 1);
}

slides > slide {

  font-family: 'UniversLTStd', 'Open Sans', Arial, sans-serif;
  &:not(.nobackground) {
    &:before {
      content: $social-tags;
      background: url(../../logos/mpiwaves.svg) no-repeat 0 50%;
      @include background-size($brand-small-icon-size $brand-small-icon-size);
    }
  }
  &.title-slide {
    &:after {
      // TODO Actually, the logo of the conference is supposed to go here.
      background: url(../../logos/mpimdtxt.svg) no-repeat 100% 50%;
      @include background-size(contain);
    }
  }
}

table {
  th {
    @include background(linear-gradient(top, $mpi-green 40%, $mpi-blue 80%) no-repeat);
  }
}

.thank-you-slide {
  background: $mpi-blue !important;
}
